li {
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  margin: 20px;
  background-color: #4caf50;
  color: white;
  text-align: left;
  padding: 10px 0;
  border-radius: 4px;
  h1 {
    margin-left: 20px;
    font-size: 24px;
    text-align: center;
  }

  ul {
    padding: 2px;
    margin: 0 12px;
    li {
      border-bottom: #333 1px solid;
      padding: 8px 0;
      list-style: none;
      &:hover {
        outline: 1px solid #333;
        padding: 8px 2px;
        border-radius: 4px;
        background-color: #f0f0f0;
        cursor: pointer;
      }
    }
  }
}

code {
  background-color: #333;
  padding: 2px 4px;
  border-radius: 4px;
  color: #e2725b;
}

section {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.highlight {
  background-color: #fffbcc;
  border-radius: 4px;
  padding: 10px;
}
